<div class="container-fluid" id="navContainer">
    <nav class="navbar fixed-top navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">K()DEX</a>


        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/landing" role="button">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inbox</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<div class="container-fluid jumboContainer">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4"><strong></strong></h1>

    </div>
</div>

<div class="container-fluid col-2" id="sideBar">
    <div class="container-fluid links">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="html" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            HTML
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="/lang/HTML" role="button" id="htmlGeneral">General</a>
                            <a class="dropdown-item" href="#" id="htmlHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="htmlBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="htmlEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="css" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            CSS
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="/lang/CSS" role="button" id="cssGeneral">General</a>
                            <a class="dropdown-item" href="#" id="cssHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="cssBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="cssEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="javascript" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            JAVASCRIPT
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="/lang/Javascript" role="button" id="javascriptGeneral">General</a>
                            <a class="dropdown-item" href="#" id="javascriptHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="javascriptBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="javascriptEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="mysql" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            MYSQL
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="/lang/MYSQL" role="button" id="mysqlGeneral">General</a>
                            <a class="dropdown-item" href="#" id="mysqlHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="mysqlBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="mysqlEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="python" type="button" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                            PYTHON
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="/lang/Python" role="button" id="pythonGeneral">General</a>
                            <a class="dropdown-item" href="#" id="pythonHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="pythonBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="pythonEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="ruby" type="button" data-toggle="collapse"
                            data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                            RUBY
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="/lang/RUBY" role="button" id="rubyGeneral">General</a>
                            <a class="dropdown-item" href="#" id="rubyHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="rubyBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="rubyEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="java" type="button" data-toggle="collapse"
                            data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                            JAVA
                        </button>
                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="/lang/Java" role="button" id="javaGeneral">General</a>
                            <a class="dropdown-item" href="#" id="javaHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="javaBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="javaEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="cx2" type="button" data-toggle="collapse"
                            data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                            C++
                        </button>
                    </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="/lang/C++" role="button" id="cppGeneral">General</a>
                            <a class="dropdown-item" href="#" id="cppHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="cppBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="cppEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingNine">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="cSharp" type="button" data-toggle="collapse"
                            data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                            C
                        </button>
                    </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="/lang/C" role="button" id="cSharpGeneral">General</a>
                            <a class="dropdown-item" href="#" id="cSharpHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="cSharpBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="cSharpEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end link container-->

<!--Begin Trending container-->
<div class="container-fluid trending">
    <div class="card card-heading">
        <a class="previousPage" href="#">Previous Page</a>
        <h1>Top Trending Posts</h1>
        <a class="nextPage" href="#">Next Page</a>
    </div>
<div class="container-fluid top-posts">
        <div id="postSection">
            <button id="modalTest" class="btn btn-dark btn-lg" role="button"  data-toggle="modal" data-target="#testModal">Create a Post</button>
            <div class="modal" tabindex="-1" role="dialog" id="testModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Post Modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p class="cool-font">Title</p>
                                        <input class="form-control" type="text" id="title" placeholder="Enter title">
                                        <br>
                                        <p class="cool-font">Post</p>
                                        <textarea class="form-control" rows="3" id="postBox"
                                            placeholder="Enter Post Here!"></textarea><br>
                                        <div class="form-group">
                                            <label for="category">Select Category:</label>
                                            <select class="custom-select" id="category">
                                                <option value="HTML">HTML</option>
                                                <option value="CSS">CSS</option>
                                                <option value="Javascript">Javascript</option>


                                                <option value="MYSQL">MYSQL</option>

                                                <option value="Python">Python</option>
                                                <option value="RUBY">RUBY</option>
                                                <option value="Java">Java</option>
                                                <option value="C++">C++</option>
                                                <option value="C">C</option>
                                            </select>
                                        </div>
                                    </div>
                                </div><br>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="postSubmit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <hr>
                    <div id="postArea">
                        {{#each post}}
                            <div class='postDivs post'>
                                <h4>{{this.dataValues.title}}</h4><hr>
                                <p>{{this.dataValues.body}}</p><br>
                                <p>Category: {{this.dataValues.category}}</p>
                                <p>At {{this.dataValues.createdAt}}</p>
                                <button class='comBtn' id={{this.dataValues.id}} href="/posts/" + {{this.dataValues.id}}>Edit Post</button><br><br>
                                <button class='comBtn' id={{this.dataValues.id}} href='/posts/' + {{this.dataValues.id}}>View and Comment</button>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/postsLang.js"></script>